<!doctype html>
<html lang="en" ng-app="isproject">
<head>
    <meta charset="utf-8">
    <title>IS675 Project - {= title =}</title>
    <meta name="description" content="IS675 Project - {= title =}">
    <meta name="author" content="Nathan Jordan">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>IS Database Project<small>{= title =}</small></h1>
        </div>
