        {% include 'header.html' %}
        <div class="content" data-ng-controller="UserController">
            <form class="new-form form-horizontal" role="form" data-ng-submit="addResource()">
                <div class="form-group">
                    <label for="">Username</label>
                    <input class="form-control" type="text" data-ng-model="user.username"></input>
                </div>
                <div class="form-group">
                    <label for="">First Name</label>
                    <input class="form-control" type="text" data-ng-model="user.first_name"></input>
                </div>
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input class="form-control" type="text" data-ng-model="user.last_name"></input>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input class="form-control" type="text" data-ng-model="user.email"></input>
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <input class="btn btn-success" type="submit" value="New User"></input>
                </div>
            </form>
            <div class="entity-list">
                <div class="entity" data-ng-repeat="user in resourceList">
                    <div class="form-group">
                        <label for="">Username</label>
                        <span>{{ '{{ user.username }}' }}</span>
                    </div>
                    <div class="form-group">
                        <label for="">First Name</label>
                        <span>{{ '{{ user.first_name }}' }}</span>
                    </div>
                    <div class="form-group">
                        <label for="">Last Name</label>
                        <span>{{ '{{user.last_name }}' }}</span>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <span>{{ '{{ user.email }}' }}</span>
                    </div>
                    <div class="form-group">
                        <label for="">Permissions</label>
                        <span data-ng-repeat="permission in user.permissions">{{ '{{ permission.name }}' }},</span>
                    </div>
                    <div class="form-group">
                        <label for=""></label>
                        <button class="btn btn-danger" data-ng-click="deleteResource(user._id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
